<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ .LogoMin }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="/static/js/util.js"></script>
    <script src="/static/js/cookie.js"></script>
    <title>Админ панель</title>
    <style>
        .leaflet-control-container {
            display: none !important;
        }
    </style>
</head>
<body>

<header class="d-flex flex-wrap align-items-center justify-content-center mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/admin/stores" class="d-inline-flex link-body-emphasis text-decoration-none align-items-center">
            <img src="{{ .Logo }}" alt="" height="80">
        </a>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a id="tab_link_stores" href="/admin/stores" class="nav-link px-2">Аптеки</a></li>
        <li><a id="tab_link_promotion" href="/admin/promotion" class="nav-link px-2">Акции</a></li>
        <li><a id="tab_link_images" href="/admin/images" class="nav-link px-2">Изображения</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <button id="logout-btn" type="button" class="btn btn-outline-primary me-2">Выйти</button>
    </div>
</header>

<script>
    let replaceMu = false;

    function CheckCode(xhr) {
        if (xhr.status !== StatusOk) {
            let err = xhr.response !== null?  xhr.response["error"] : ""
            console.error(err)

            if (!replaceMu) {
                replaceMu = true;

                if (xhr.status === StatusUnauthorized) {
                    alert("Требуется авторизация")
                    location.replace("/admin/login")
                }

                alert(`Ошибка ${xhr.status}`)

                replaceMu = false;
            }

            return false
        }

        return true
    }

    function OnUnauthorized(msg) {
        console.error(msg);
        if (!replaceMu) {
            replaceMu = true;
            alert("Требуется авторизация");
            location.replace("/admin/login")
            replaceMu = false;
        }
    }

    function checkToken() {
        let xhr = new XMLHttpRequest();
        xhr.responseType = "json"
        xhr.onload = () => {
            CheckCode(xhr)
        }
        xhr.open("GET", "/api/auth/check-token")
        withAuth(xhr)
        xhr.send()
    }
    checkToken()



    document.getElementById("logout-btn").addEventListener("click", () => {
        let xhr = new XMLHttpRequest();
        xhr.responseType = "json"

        let token = getCookie("token")
        if (token === "" && token === undefined) {
            return
        }

        xhr.onload = () => {
            if (!CheckCode(xhr)) {
                return
            }
            deleteTokenFromCookie()
            location.replace("/admin/login")
        }

        xhr.open("POST", `/api/auth/logout`)
        withAuth(xhr)
        xhr.send()
    })

</script>

<div class="container-fluid">
    <div class="row" id="tab-content">
        {{template "admin_main" .}}
    </div>
</div>

</body>
</html>