{{ define "footer" }}

<footer class="bg-dark text-white py-4 mt-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>{{ .Config.Title }}</h5>
        <p>Имеются противопоказания. Необходима консультация специалиста.</p>
      </div>
      <div class="col-md-4">
        <h5>Контакты</h5>
        <ul class="list-unstyled">
          <li id="phone"><i class="fas fa-phone me-2"></i> Не указан</li>
          <li id="email"><i class="fas fa-envelope me-2"></i> Не указан</li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Режим работы</h5>
        <p id="schedule">Не указан</p>
      </div>
    </div>
  </div>
</footer>


<script>
  function setStoreInfo(info) {
    if (!info) {
      return
    }
    if (info.schedule) {
      document.getElementById("schedule").innerText = info.schedule;
    }
    if (info.contacts.mobile) {
      document.getElementById("phone").innerText = info.contacts.mobile;
    }
    if (info.contacts.email) {
      document.getElementById("email").innerText = info.contacts.email;
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
      setStoreInfo(storeInfo);
  })
</script>

{{ end }}